<div class="row">
	<div class="col-md-4">
	 
		<p><b>Showers: </b>{% if location.showers %}{{ location.get_showers_display }}{% else %}----{% endif %}</p>
		<p><b>Kid's Area: </b>{% if location.kids_area %}{{ location.get_kids_area_display }}{% else %}----{% endif %}</p>
		<p><b>Drop Ins: </b>{% if location.drop_ins %}{{ location.get_drop_ins_display }}{% else %}----{% endif %}</p>
		<p><b>Lifting Platforms: </b>{% if location.lifting_platforms %}{{ location.get_lifting_platforms_display }}{% else %}----{% endif %}</p>
		<p><b>CrossFit Kids: </b>{% if location.crossfit_kids %}{{ location.get_crossfit_kids_display }}{% else %}----{% endif %}</p>
	</div>
	<div class="col-md-4">
		<p><b>Parking: </b>{% if location.get_average_parking %}{% include 'base/other-ratings.html' with rating=location.get_average_parking %}{% else %}----{% endif %}</p>
		<p><b>Friendliness: </b>{% if location.get_average_friendliness %}{% include 'base/other-ratings.html' with rating=location.get_average_friendliness %}{% else %}----{% endif %}</p>
		<p><b>Intensity: </b>{% if location.get_average_intensity %}{% include 'base/other-ratings.html' with rating=location.get_average_intensity %}{% else %}----{% endif %}</p>
		<p><b>Trainers: </b>{% if location.get_average_trainers %}{% include 'base/other-ratings.html' with rating=location.get_average_trainers %}{% else %}----{% endif %}</p>
	</div>
</div>